{% extends 'base.html' %}

{% block content %}
    <section class="home">
        <div class="home-text">
            <h1>Hello, i'm Aurel!</h1>
            <p>I am an Undergraduate Information Systems Student
                at University of Indonesia.</p>
        </div>
        <div class="my-photo">
            <img src="static/img/aurel.png">
        </div>
    </section>
{% endblock %}